<hr>
<h3 class="form-header"><i class="fas fa-clone"></i> {{ localize 'azgaar.title' }}</h3>
<p class="notes">{{ localize 'azgaar.description' }}</p>
<hr>
<input type="radio" id="world-default" name="pin-default" value="world">
<label for="world-default">World</label>
<input type="radio" id="country-default" name="pin-default" value="countries" checked>
<label for="country-default">Kingdom</label>
<input type="radio" id="province-default" name="pin-default" value="provinces">
<label for="province-default">Province</label>
<input type="radio" id="default" name="pin-default" value="default">
<label for="default">Use Note's</label>

<hr>
<h3 class="form-header">{{ localize 'azgaar.scenes' }}</h3>
<hr>